[Unit]
Description=Sentinel
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/{{ sentinel_user }}/sentinel_deploy/
ExecStart="/home/{{ sentinel_user }}/sentinel_deploy/sentinel"
User={{ sentinel_user }}
PIDFile="/home/{{ sentinel_user }}/sentinel_deploy/sentinel.pid"
[Install]
WantedBy=multi-user.target
