# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
static/videos/

# Node Modules
node_modules

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
.DS_Store

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

aegiscampus_admin.crt
aegiscampus_admin.key

*.exe
config.json
aegiscampus.db*
aegiscampus
aegiscampus.log
