{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AegisCampus - Cybersecurity Training &amp; Simulation Platform">
    <meta name="author" content="AegisAX (https://github.com/AegisAX)">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{{ .Title }} - AegisCampus</title>

    <link href="/css/dist/aegiscampus.css?v=20260603d" rel="stylesheet" type="text/css">
    <link href="/css/flag-icons/css/flag-icons.min.css" rel="stylesheet" type="text/css">
    <script>
        {{if .User}}
            var user = {
                api_key : {{ .User.ApiKey }},
                username : {{ .User.Username }}
            }
        {{end}}
        {{if .Token}}
            var csrf_token = {{.Token}}
        {{end}}
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="display: flex; align-items: center; gap: 6px; height: 53px; padding-top: 0; padding-bottom: 0;">
                    <img class="navbar-logo" src="/images/aegiscampus_mark_dark.svg" height="36" alt="" />
                    <span>AegisCampus</span>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {{if .User}}
                        <div class="btn-group" id="navbar-dropdown">
                            <a class="btn btn-primary" href="/settings"><i class="fa fa-user"></i> {{.User.Username}}</a>
                            <a class="btn btn-primary dropdown-toggle" href="/logout">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>
                        {{else}}
                        <div class="btn-group">
                            <a class="btn btn-primary" href="/login">Login</a>
                        </div>
                        {{end}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{template "nav" .}}
    {{template "body" .}}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js?v=20260603d"></script>
    <script src="/js/dist/app/aegiscampus.min.js?v=20260603d"></script>
    {{template "scripts" .}}
    <script>
    (function () {
        var btn = document.querySelector('.navbar-toggle');
        var sidebar = document.getElementById('sidebar');
        if (btn && sidebar) {
            btn.addEventListener('click', function () {
                sidebar.classList.toggle('in');
            });
        }
    })();
    </script>
</body>

</html>
{{ end }}